<a href="https://colab.research.google.com/github/habibanalytics/University_Final_Year_Project/blob/master/Notebooks/Chicago_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Objective of this preprocessing is to create encoded dataset for predicting Secondary Crime Description**


**Avoid colab clossing**
```
function ClickConnect(){
    document.querySelector("colab-connect-button").click()
    console.log("Clicked on connect button"); 
}
setInterval(ClickConnect,60000)
```

# **Imports**

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# mounting google drive

In [20]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# **Importing Dataset**

In [21]:
file_path= "/content/gdrive/My Drive/Final Year Project/Dataset/dataset_analyzed.csv"
data= pd.read_csv(file_path) #, nrows= 10000
df= data.copy()

In [22]:
df.info()
print("Rows and Columns size: ", df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198174 entries, 0 to 198173
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   date_of_occurrence     198174 non-null  object
 1   block                  198174 non-null  object
 2   iucr                   198174 non-null  object
 3   primary_description    198174 non-null  object
 4   secondary_description  198174 non-null  object
 5   location_description   198174 non-null  object
 6   arrest                 198174 non-null  object
 7   domestic               198174 non-null  object
 8   beat                   198174 non-null  int64
 9   ward                   198174 non-null  float64
 10  fbi_cd                 198174 non-null  object
 11  latitude               198174 non-null  float64
 12  longitude              198174 non-null  float64
 13  month                  198174 non-null  object
 14  week_day               198174 non-null  object
 15  hour                   198174 non-null  int64
 16  year                   198174 non-null  int64
dtypes: float64(3), int64(3), object(11)
memory usage: 25.7+ MB
Rows and Columns size:  (198174, 17)

# Changing Data type

In [23]:
df["ward"]= df["ward"].astype(object)
df["beat"]= df["beat"].astype(object)
df["hour"]= df["hour"].astype(object)
df["year"]= df["year"].astype(object)

In [24]:
df.head(2)

    date_of_occurrence                    block  iucr  ...   week_day hour  year
0  2020-02-19 05:15:00       079XX S WABASH AVE  0486  ...  Wednesday    5  2020
1  2020-02-19 05:25:00  0000X E LOWER WACKER PL  0486  ...  Wednesday    5  2020

[2 rows x 17 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198174 entries, 0 to 198173
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   date_of_occurrence     198174 non-null  object
 1   block                  198174 non-null  object
 2   iucr                   198174 non-null  object
 3   primary_description    198174 non-null  object
 4   secondary_description  198174 non-null  object
 5   location_description   198174 non-null  object
 6   arrest                 198174 non-null  object
 7   domestic               198174 non-null  object
 8   beat                   198174 non-null  object
 9   ward                   198174 non-null  object
 10  fbi_cd                 198174 non-null  object
 11  latitude               198174 non-null  float64
 12  longitude              198174 non-null  float64
 13  month                  198174 non-null  object
 14  week_day               198174 non-null  object
 15  hour                   198174 non-null  object
 16  year                   198174 non-null  object
dtypes: float64(2), object(15)
memory usage: 25.7+ MB

In [26]:
del df["date_of_occurrence"]
del df["arrest"]
del df["iucr"]
del df["latitude"]
del df["longitude"]

# **One hot encoding for features with many variables**
In this i will pick up top most freqquencty occuring labels from each feature and for the rest of the labels if they occur in the data would have their complete row as zero and they will not contain a column of their own

## Counting columns and unique values for each column before encoding

[onehotencoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

In [27]:
orig_rows, orig_col= df.shape
print(" Rows",orig_rows,"\n","Columns",orig_col)

 Rows 198174
 Columns 12

In [28]:
for column in df.columns:
    print(column, ": ", df[column].nunique())
print("Total rows: ", orig_rows)

block :  26706
primary_description :  33
secondary_description :  374
location_description :  163
domestic :  2
beat :  274
ward :  50
fbi_cd :  26
month :  12
week_day :  7
hour :  24
year :  2
Total rows:  198174

In [29]:
df.columns

Index(['block', 'primary_description', 'secondary_description',
       'location_description', 'domestic', 'beat', 'ward', 'fbi_cd', 'month',
       'week_day', 'hour', 'year'],
      dtype='object')

# **Data For Predicting Secondary Type**

# **Which values to pick?**

, block, beat, location_description, ,domestic, beat, ward, fbi_cd, month, week_day, hour


**Top Values :**

* top 12 **primary_description**
description
* top 20 wards
    * top 30 **blocks** from top wards
    * top 2 **beats** from top wards
* top 30 **location description**
* top 10 **FBI code**

**Others**

* domestic :  2
* month :  12
* week_day :  7
* hour :  24

# **Encoder Function**

This function accepts:
* **column_name**: The column to encode
* **top_values**: List of labels to encode

In [30]:
def encoder_function(column_name, labels):
    """
    This function accepts:
    column_name: The column to encode
    labels: List of values to encode
    """
    for category in labels:
        new_col= column_name + "_"+ category
        df[new_col]= np.where(df[column_name] == category, 1, 0)

# **Getting internal top 10 values function**

In [31]:
def list_inner_top_values(column_name, outer_top, no_of_top_topick, Column_to_count):
    """
    This function accepts:
    column_name: The name of the outer level column
    outer_top: (List) top values of outer column
    no_of_top_topick: Number of top values to pick from inner column
    Column_to_count: Name of column from which you want to pick top values of
    """
    top_values=[]
    for value in outer_top:
        filt= (df[column_name] == value )
        top_values.extend([x for x in df[filt][Column_to_count].value_counts(ascending= False).head(no_of_top_topick).index])
    return top_values

# **Top Labels and their encoding**

## **Top 10 primary description**

In [32]:
n_values= 12
top_prim_des= [x for x in df["primary_description"].value_counts(ascending= False).head(n_values).index]
top_values = top_prim_des.copy()

### **Encoding Top Primary Description values**

In [33]:
column_name= "primary_description"
encoder_function(column_name, top_values)

In [34]:
df.head(2)

                     block  ... primary_description_CRIMINAL TRESPASS
0       079XX S WABASH AVE  ...                                     0
1  0000X E LOWER WACKER PL  ...                                     0

[2 rows x 24 columns]

## **Top Wards**

In [35]:
n_values= 20
column_= "ward"
top_wards= [x for x in df[column_].value_counts(ascending= False).head(n_values).index]
top_values = list(map(str,top_wards))

### **Encoding Wards**

In [36]:
column_name= "ward"
encoder_function(column_name, top_values)

In [37]:
df.head(2)

                     block primary_description  ... ward_25.0 ward_10.0
0       079XX S WABASH AVE             BATTERY  ...         0         0
1  0000X E LOWER WACKER PL             BATTERY  ...         0         0

[2 rows x 44 columns]

## **Top Blocks from top wards**

In [38]:
# Getting list of blocks that occur in top wards
# to pass
column_name= "ward" # The name of the outer level column
outer_top= top_wards # Top values of outer column
no_of_top_topick =10 #these are how many number of values to pick for the inner top values
Column_to_count= "block" # Name of column from which you want to pick top values of

top_values= list(set(list_inner_top_values(column_name, outer_top, no_of_top_topick, Column_to_count)))
print(top_values)

['033XX W MAYPOLE AVE', '004XX N MICHIGAN AVE', '006XX E 131ST ST', '021XX E 71ST ST', '012XX S ASHLAND AVE', '039XX W GLADYS AVE', '0000X S STATE ST', '002XX W 108TH ST', '051XX W NORTH AVE', '083XX S HOLLAND RD', '002XX W 63RD ST', '079XX S HALSTED ST', '0000X W 71ST ST', '075XX S SOUTH SHORE DR', '033XX W FILLMORE ST', '011XX S STATE ST', '039XX W VAN BUREN ST', '043XX S MICHIGAN AVE', '029XX S FEDERAL ST', '063XX S ARTESIAN AVE', '010XX N PULASKI RD', '016XX S HOMAN AVE', '089XX S HOUSTON AVE', '062XX S WESTERN AVE', '012XX S WABASH AVE', '005XX N STATE ST', '082XX S MARYLAND AVE', '057XX W MADISON ST', '002XX E HURON ST', '020XX S MICHIGAN AVE', '061XX S KIMBARK AVE', '013XX S THROOP ST', '094XX S ASHLAND AVE', '098XX S STATE ST', '056XX W MADISON ST', '079XX S ASHLAND AVE', '109XX S DOTY AVE W', '034XX W FRANKLIN BLVD', '074XX S COLFAX AVE', '0000X W 95TH ST', '067XX S EAST END AVE', '076XX S STEWART AVE', '005XX E 79TH ST', '006XX W HARRISON ST', '098XX S HALSTED ST', '001XX W LAKE ST', '0000X E CHICAGO AVE', '081XX S COTTAGE GROVE AVE', '035XX S RHODES AVE', '054XX S WENTWORTH AVE', '052XX W CONGRESS PKWY', '109XX S VERNON AVE', '036XX S RHODES AVE', '111XX S STATE ST', '078XX S SOUTH SHORE DR', '068XX S PERRY AVE', '103XX S DOTY AVE E', '070XX S MERRILL AVE', '063XX S KEDZIE AVE', '039XX W MADISON ST', '079XX S WABASH AVE', '079XX S LAFAYETTE AVE', '065XX S LOWE AVE', '082XX S COTTAGE GROVE AVE', '119XX S MICHIGAN AVE', '061XX S DR MARTIN LUTHER KING JR DR', '049XX W VAN BUREN ST', '076XX S COLFAX AVE', '007XX E 79TH ST', '011XX S CLARK ST', '054XX W MADISON ST', '001XX N CENTRAL AVE', '013XX W 15TH ST', '103XX S HALSTED ST', '015XX W GARFIELD BLVD', '002XX E 121ST PL', '075XX S KINGSTON AVE', '047XX S MICHIGAN AVE', '013XX W WASHBURNE AVE', '091XX S COMMERCIAL AVE', '088XX S BURLEY AVE', '074XX S SOUTH SHORE DR', '069XX S CRANDON AVE', '090XX S COMMERCIAL AVE', '015XX N CLYBOURN AVE', '039XX W ROOSEVELT RD', '005XX S PULASKI RD', '035XX W DOUGLAS BLVD', '116XX S HALSTED ST', '049XX W NORTH AVE', '055XX W NORTH AVE', '020XX W 63RD ST', '0000X W 87TH ST', '023XX W MADISON ST', '087XX S COMMERCIAL AVE', '011XX S MICHIGAN AVE', '003XX W 64TH ST', '063XX S ASHLAND AVE', '110XX S VERNON AVE', '105XX S OGLESBY AVE', '005XX N CENTRAL AVE', '067XX S ASHLAND AVE', '071XX S VINCENNES AVE', '017XX E 67TH ST', '036XX W DOUGLAS BLVD', '044XX W ADAMS ST', '076XX S KINGSTON AVE', '087XX S BURLEY AVE', '075XX S ASHLAND AVE', '073XX S SOUTH SHORE DR', '078XX S STATE ST', '065XX S DR MARTIN LUTHER KING JR DR', '003XX N PINE AVE', '011XX W JACKSON BLVD', '055XX W WASHINGTON BLVD', '013XX N HUDSON AVE', '0000X E GRAND AVE', '038XX W ROOSEVELT RD', '039XX W JACKSON BLVD', '082XX S DREXEL AVE', '111XX S MICHIGAN AVE', '036XX W GRAND AVE', '031XX W HARRISON ST', '110XX S WENTWORTH AVE', '011XX W 63RD ST', '080XX S MARYLAND AVE', '001XX W CERMAK RD', '048XX W NORTH AVE', '083XX S STEWART AVE', '070XX S CHAPPEL AVE', '002XX W 87TH ST', '002XX N PINE AVE', '035XX S COTTAGE GROVE AVE', '0000X E ROOSEVELT RD', '086XX S COTTAGE GROVE AVE', '025XX W CERMAK RD', '001XX W 87TH ST', '109XX S DOTY AVE E', '131XX S CORLISS AVE', '062XX S MICHIGAN AVE', '0000X W 111TH ST', '014XX N SEDGWICK ST', '035XX S MICHIGAN AVE', '014XX S BLUE ISLAND AVE', '067XX S JEFFERY BLVD', '045XX S DREXEL BLVD', '004XX W DIVISION ST', '011XX S WABASH AVE', '080XX S INGLESIDE AVE', '001XX N MAYFIELD AVE', '040XX E 134TH ST', '012XX W ROOSEVELT RD', '066XX S WESTERN AVE', '024XX W 63RD ST', '089XX S COMMERCIAL AVE', '049XX W HUBBARD ST', '040XX W MADISON ST', '008XX E 79TH ST', '001XX N STATE ST', '071XX S ASHLAND AVE', '078XX S HALSTED ST', '010XX E 132ND ST', '081XX S MAY ST', '079XX S DREXEL AVE', '063XX S DR MARTIN LUTHER KING JR DR', '029XX S DEARBORN ST', '034XX S DR MARTIN LUTHER KING JR DR', '050XX S MICHIGAN AVE', '013XX W HASTINGS ST', '013XX W 76TH ST', '075XX S STONY ISLAND AVE', '066XX S HALSTED ST', '002XX W GARFIELD BLVD', '071XX S JEFFERY BLVD', '052XX S DREXEL AVE', '035XX W CHICAGO AVE', '082XX S ELLIS AVE', '064XX S LOWE AVE', '037XX W CHICAGO AVE', '0000X E WACKER DR', '077XX S SOUTH SHORE DR', '008XX W 115TH ST', '011XX S CANAL ST', '099XX S HALSTED ST', '050XX S EAST END AVE', '076XX S HALSTED ST', '070XX S ASHLAND AVE', '029XX W HARRISON ST', '006XX N MICHIGAN AVE', '117XX S MARSHFIELD AVE', '039XX W THOMAS ST', '015XX S DRAKE AVE', '063XX S RACINE AVE', '056XX W WASHINGTON BLVD', '006XX S CENTRAL AVE', '034XX W ROOSEVELT RD', '007XX E 111TH ST', '064XX S DR MARTIN LUTHER KING JR DR', '0000X S SPRINGFIELD AVE', '0000X W 79TH ST']

### **Encoding Blocks**

In [39]:
column_name= "block"
encoder_function(column_name, top_values)

In [40]:
df.head(2)

                     block  ... block_0000X W 79TH ST
0       079XX S WABASH AVE  ...                     0
1  0000X E LOWER WACKER PL  ...                     0

[2 rows x 244 columns]

## **Top beats from top wards**

In [41]:
# Getting list of blocks that occur in top wards
# to pass
column_name= "ward" # The name of the outer level column
outer_top= top_wards # Top values of outer column
no_of_top_topick =2 #these are how many number of values to pick for the inner top values
Column_to_count= "beat" # Name of column from which you want to pick top values of

top_values= list(set(list_inner_top_values(column_name, outer_top, no_of_top_topick, Column_to_count)))
print(top_values)

[131, 522, 524, 533, 414, 1533, 421, 1831, 423, 424, 1834, 2223, 432, 312, 313, 825, 713, 331, 332, 1233, 1234, 213, 1112, 1113, 222, 1121, 612, 613, 2533, 2532, 1511, 621, 623, 624, 1522, 1011, 631, 123, 1021, 511]

#### **Encoding Top Beats**

In [42]:
column_name= "beat"
top_values= list(map(str,top_values))
encoder_function(column_name, top_values)

In [43]:
df.head(2)

                     block primary_description  ... beat_1021 beat_511
0       079XX S WABASH AVE             BATTERY  ...         0        0
1  0000X E LOWER WACKER PL             BATTERY  ...         0        0

[2 rows x 284 columns]

## **Top Locations**

In [44]:
top_prim_des= [x for x in df["location_description"].value_counts(ascending= False).head(50).index]
top_values = top_prim_des.copy()
top_values

['STREET',
 'RESIDENCE',
 'APARTMENT',
 'SIDEWALK',
 'PARKING LOT / GARAGE (NON RESIDENTIAL)',
 'OTHER (SPECIFY)',
 'SMALL RETAIL STORE',
 'ALLEY',
 'RESIDENCE - YARD (FRONT / BACK)',
 'RESIDENCE - PORCH / HALLWAY',
 'GAS STATION',
 'RESTAURANT',
 'VEHICLE NON-COMMERCIAL',
 'RESIDENCE - GARAGE',
 'GROCERY FOOD STORE',
 'DEPARTMENT STORE',
 'CONVENIENCE STORE',
 'COMMERCIAL / BUSINESS OFFICE',
 'DRUG STORE',
 'CTA TRAIN',
 'HOSPITAL BUILDING / GROUNDS',
 'HOTEL / MOTEL',
 'PARK PROPERTY',
 'BANK',
 'CHA APARTMENT',
 'CTA BUS',
 'POLICE FACILITY / VEHICLE PARKING LOT',
 'NURSING / RETIREMENT HOME',
 'DRIVEWAY - RESIDENTIAL',
 'VACANT LOT / LAND',
 'CTA STATION',
 'BAR OR TAVERN',
 'CTA PLATFORM',
 'CHA PARKING LOT / GROUNDS',
 'SCHOOL - PUBLIC BUILDING',
 'TAVERN / LIQUOR STORE',
 'CTA BUS STOP',
 'GOVERNMENT BUILDING / PROPERTY',
 'CHURCH / SYNAGOGUE / PLACE OF WORSHIP',
 'OTHER',
 'MEDICAL / DENTAL OFFICE',
 'CURRENCY EXCHANGE',
 'AUTO / BOAT / RV DEALERSHIP',
 'CONSTRUCTION SITE',
 'SCHOOL - PUBLIC GROUNDS',
 'ATM (AUTOMATIC TELLER MACHINE)',
 'PARKING LOT/GARAGE(NON.RESID.)',
 'WAREHOUSE',
 'SCHOOL, PUBLIC, BUILDING',
 'BARBERSHOP']

### **Encoding Top Locations**

In [45]:
column_name= "location_description"
encoder_function(column_name, top_values)

In [46]:
df.head(2)

                     block  ... location_description_BARBERSHOP
0       079XX S WABASH AVE  ...                               0
1  0000X E LOWER WACKER PL  ...                               0

[2 rows x 334 columns]

## **Top FBI Code**

In [47]:
top_prim_des= [x for x in df["fbi_cd"].value_counts(ascending= False).head(10).index]
top_values = top_prim_des.copy()
top_values

['06', '08B', '14', '11', '08A', '26', '07', '15', '05', '04B']

### **Encoding top FBI codes**

In [48]:
column_name= "fbi_cd"
encoder_function(column_name, top_values)

In [49]:
df.head(2)

                     block primary_description  ... fbi_cd_05 fbi_cd_04B
0       079XX S WABASH AVE             BATTERY  ...         0          0
1  0000X E LOWER WACKER PL             BATTERY  ...         0          0

[2 rows x 344 columns]

# **Label Encoding of other  columns**

## **Encoding domestic Column**

In [50]:
column_name= "domestic"

labels = list(df[column_name].unique())
encoder_function(column_name, labels)
df.head(2)

                     block primary_description  ... domestic_Y domestic_N
0       079XX S WABASH AVE             BATTERY  ...          1          0
1  0000X E LOWER WACKER PL             BATTERY  ...          1          0

[2 rows x 346 columns]

## **Encoding month Column**

In [51]:
column_name= "month"

labels = list(df[column_name].unique())
encoder_function(column_name, labels)
df.head(2)

                     block primary_description  ... month_Dec month_Jan
0       079XX S WABASH AVE             BATTERY  ...         0         0
1  0000X E LOWER WACKER PL             BATTERY  ...         0         0

[2 rows x 358 columns]

## **Encoding weekday Column**

In [52]:
column_name= "week_day"

labels = list(df[column_name].unique())
encoder_function(column_name, labels)
df.head(2)

                     block  ... week_day_Tuesday
0       079XX S WABASH AVE  ...                0
1  0000X E LOWER WACKER PL  ...                0

[2 rows x 365 columns]

## **Encoding hour Column**

In [53]:
column_name= "hour"

labels = list(df[column_name].unique())

labels= list(map(str,labels))
encoder_function(column_name, labels)
df.head(2)

                     block primary_description  ... hour_3 hour_4
0       079XX S WABASH AVE             BATTERY  ...      0      0
1  0000X E LOWER WACKER PL             BATTERY  ...      0      0

[2 rows x 389 columns]

# **Deleting Label Columns**

In [54]:
data.columns

Index(['date_of_occurrence', 'block', 'iucr', 'primary_description',
       'secondary_description', 'location_description', 'arrest', 'domestic',
       'beat', 'ward', 'fbi_cd', 'latitude', 'longitude', 'month', 'week_day',
       'hour', 'year'],
      dtype='object')

In [55]:
del df["block"]
del df["primary_description"]
del df["location_description"]
del df["domestic"]
del df["beat"]
del df["fbi_cd"]
del df["month"]
del df["week_day"]
del df["hour"]
del df["ward"]

In [56]:
df.head(2)

     secondary_description  year  ...  hour_3  hour_4
0  DOMESTIC BATTERY SIMPLE  2020  ...       0       0
1  DOMESTIC BATTERY SIMPLE  2020  ...       0       0

[2 rows x 379 columns]

# **Saving Secondary Description data**

In [57]:
df.to_csv("/content/gdrive/My Drive/Final Year Project/Dataset/preprocessed_data.csv")