<a href="https://colab.research.google.com/github/Habib0308/University_Final_Year_Project/blob/master/Notebooks/Chicago_Data_Preprocessing_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Objective of this preprocessing is to create encoded dataset for predicting Secondary Crime Description**


**Avoid colab clossing**
```
function ClickConnect(){
    document.querySelector("colab-connect-button").click()
    console.log("Clicked on connect button"); 
}
setInterval(ClickConnect,60000)
```

# **Imports**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# mounting google drive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# **Importing Dataset**

In [ ]:
file_path= "/content/gdrive/My Drive/Final Year Project/Dataset/dataset_analyzed.csv"
data= pd.read_csv(file_path) #, nrows= 10000
df= data.copy()

# Changing Data type

In [ ]:
df["ward"]= df["ward"].astype(object)
df["beat"]= df["beat"].astype(object)
df["hour"]= df["hour"].astype(object)

In [ ]:
df.head(2)

    date_of_occurrence               block  iucr  ... month  week_day hour
0  2019-06-20 05:02:00   061XX W GRAND AVE  0486  ...   Jun  Thursday    5
1  2019-06-20 05:15:00  043XX N CICERO AVE  0560  ...   Jun  Thursday    5

[2 rows x 16 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232015 entries, 0 to 232014
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   date_of_occurrence     232015 non-null  object
 1   block                  232015 non-null  object
 2   iucr                   232015 non-null  object
 3   primary_description    232015 non-null  object
 4   secondary_description  232015 non-null  object
 5   location_description   232015 non-null  object
 6   arrest                 232015 non-null  object
 7   domestic               232015 non-null  object
 8   beat                   232015 non-null  object
 9   ward                   232015 non-null  object
 10  fbi_cd                 232015 non-null  object
 11  latitude               232015 non-null  float64
 12  longitude              232015 non-null  float64
 13  month                  232015 non-null  object
 14  week_day               232015 non-null  object
 15  hour                   232015 non-null  object
dtypes: float64(2), object(14)
memory usage: 28.3+ MB

In [ ]:
del df["date_of_occurrence"]
del df["arrest"]
del df["iucr"]
del df["latitude"]
del df["longitude"]

# **One hot encoding for features with many variables**
In this i will pick up top most freqquencty occuring labels from each feature and for the rest of the labels if they occur in the data would have their complete row as zero and they will not contain a column of their own

## Counting columns and unique values for each column before encoding

[onehotencoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

In [ ]:
orig_rows, orig_col= df.shape
print(" Rows",orig_rows,"\n","Columns",orig_col)

 Rows 232015
 Columns 11

In [ ]:
for column in df.columns:
    print(column, ": ", df[column].nunique(), "| ", df[column].nunique()/orig_rows*100,"%")
print("Total rows: ", orig_rows)

block :  26988 |  11.632006551300563 %
primary_description :  32 |  0.013792211710449755 %
secondary_description :  427 |  0.1840398250113139 %
location_description :  162 |  0.06982307178415188 %
domestic :  2 |  0.0008620132319031097 %
beat :  274 |  0.11809581277072603 %
ward :  50 |  0.021550330797577743 %
fbi_cd :  26 |  0.011206172014740426 %
month :  12 |  0.005172079391418658 %
week_day :  7 |  0.003017046311660884 %
hour :  24 |  0.010344158782837317 %
Total rows:  232015

In [ ]:
df.columns

Index(['block', 'primary_description', 'secondary_description',
       'location_description', 'domestic', 'beat', 'ward', 'fbi_cd', 'month',
       'week_day', 'hour'],
      dtype='object')

# **Data For Predicting Secondary Type**

# **Which values to pick?**

, block, beat, location_description, ,domestic, beat, ward, fbi_cd, month, week_day, hour


**Top Values :**

* top 12 **primary_description**
description
* top 20 wards
    * top 30 **blocks** from top wards
    * top 2 **beats** from top wards
* top 30 **location description**
* top 10 **FBI code**

**Others**

* domestic :  2
* month :  12
* week_day :  7
* hour :  24

# **Encoder Function**

This function accepts:
* **column_name**: The column to encode
* **top_values**: List of labels to encode

In [ ]:
def encoder_function(column_name, labels):
    """
    This function accepts:
    column_name: The column to encode
    labels: List of values to encode
    """
    for category in labels:
        new_col= column_name + "_"+ category
        df[new_col]= np.where(df[column_name] == category, 1, 0)

# **Getting internal top 10 values function**

In [ ]:
def list_inner_top_values(column_name, outer_top, no_of_top_topick, Column_to_count):
    """
    This function accepts:
    column_name: The name of the outer level column
    outer_top: (List) top values of outer column
    no_of_top_topick: Number of top values to pick from inner column
    Column_to_count: Name of column from which you want to pick top values of
    """
    top_values=[]
    for value in outer_top:
        filt= (df[column_name] == value )
        top_values.extend([x for x in df[filt][Column_to_count].value_counts(ascending= False).head(no_of_top_topick).index])
    return top_values

# **Top Labels and their encoding**

## **Top 10 primary description**

In [ ]:
n_values= 12
top_prim_des= [x for x in df["primary_description"].value_counts(ascending= False).head(n_values).index]
top_values = top_prim_des.copy()

### **Encoding Top Primary Description values**

In [ ]:
column_name= "primary_description"
encoder_function(column_name, top_values)

In [ ]:
df.head(2)

                block  ... primary_description_CRIMINAL TRESPASS
0   061XX W GRAND AVE  ...                                     0
1  043XX N CICERO AVE  ...                                     0

[2 rows x 23 columns]

## **Top Wards**

In [ ]:
n_values= 20
column_= "ward"
top_wards= [x for x in df[column_].value_counts(ascending= False).head(n_values).index]
top_values = list(map(str,top_wards))

### **Encoding Wards**

In [ ]:
column_name= "ward"
encoder_function(column_name, top_values)

In [ ]:
df.head(2)

                block primary_description  ... ward_25.0 ward_1.0
0   061XX W GRAND AVE             BATTERY  ...         0        0
1  043XX N CICERO AVE             ASSAULT  ...         0        0

[2 rows x 43 columns]

## **Top Blocks from top wards**

In [ ]:
# Getting list of blocks that occur in top wards
# to pass
column_name= "ward" # The name of the outer level column
outer_top= top_wards # Top values of outer column
no_of_top_topick =10 #these are how many number of values to pick for the inner top values
Column_to_count= "block" # Name of column from which you want to pick top values of

top_values= list(set(list_inner_top_values(column_name, outer_top, no_of_top_topick, Column_to_count)))
print(top_values)

['067XX S EAST END AVE', '050XX S MICHIGAN AVE', '006XX W HARRISON ST', '074XX S COLFAX AVE', '079XX S DREXEL AVE', '007XX E 79TH ST', '002XX W 103RD ST', '015XX N CLYBOURN AVE', '071XX S ASHLAND AVE', '002XX E 121ST PL', '075XX S STONY ISLAND AVE', '063XX S ASHLAND AVE', '002XX N PINE AVE', '056XX W MADISON ST', '039XX W VAN BUREN ST', '054XX W CHICAGO AVE', '075XX S ASHLAND AVE', '062XX S ASHLAND AVE', '0000X S HALSTED ST', '115XX S HALSTED ST', '069XX S CLYDE AVE', '054XX S WENTWORTH AVE', '039XX W ROOSEVELT RD', '083XX S HOLLAND RD', '016XX S HOMAN AVE', '007XX E 111TH ST', '015XX N DAMEN AVE', '047XX W NORTH AVE', '007XX S CICERO AVE', '017XX E 67TH ST', '016XX W DIVISION ST', '013XX W 76TH ST', '014XX W 63RD ST', '079XX S LAFAYETTE AVE', '081XX S COTTAGE GROVE AVE', '132XX S LANGLEY AVE', '002XX W 47TH ST', '023XX N MILWAUKEE AVE', '054XX W MADISON ST', '068XX S PERRY AVE', '005XX N STATE ST', '006XX S STATE ST', '010XX S CANAL ST', '066XX S STONY ISLAND AVE', '023XX E 79TH ST', '0000X E ROOSEVELT RD', '045XX S DREXEL BLVD', '002XX W 87TH ST', '046XX W NORTH AVE', '031XX W HARRISON ST', '011XX N HARDING AVE', '061XX S VERNON AVE', '001XX W 87TH ST', '007XX N CENTRAL AVE', '001XX N STATE ST', '029XX S STATE ST', '011XX W 63RD ST', '003XX E RANDOLPH ST', '055XX W JACKSON BLVD', '040XX W LAKE ST', '063XX S RACINE AVE', '082XX S COTTAGE GROVE AVE', '055XX W WASHINGTON BLVD', '012XX S WABASH AVE', '006XX E 131ST ST', '064XX S LOWE AVE', '011XX W JACKSON BLVD', '080XX S MARYLAND AVE', '0000X W 111TH ST', '065XX S LOWE AVE', '005XX S PULASKI RD', '078XX S SOUTH SHORE DR', '023XX E 70TH ST', '040XX W ROOSEVELT RD', '003XX S DEARBORN ST', '008XX E 79TH ST', '003XX W 64TH ST', '079XX S ASHLAND AVE', '040XX W VAN BUREN ST', '004XX N MICHIGAN AVE', '040XX W WILCOX ST', '081XX S ASHLAND AVE', '103XX S HALSTED ST', '020XX N MILWAUKEE AVE', '015XX N KINGSBURY ST', '015XX N MILWAUKEE AVE', '015XX W GARFIELD BLVD', '011XX S STATE ST', '011XX S CANAL ST', '0000X E RANDOLPH ST', '066XX S HALSTED ST', '012XX S MICHIGAN AVE', '036XX W DOUGLAS BLVD', '076XX S EXCHANGE AVE', '038XX W ROOSEVELT RD', '020XX S MICHIGAN AVE', '067XX S JEFFERY BLVD', '039XX W MADISON ST', '013XX W 15TH ST', '076XX S HALSTED ST', '034XX S DR MARTIN LUTHER KING JR DR', '035XX S RHODES AVE', '008XX W 119TH ST', '012XX S ASHLAND AVE', '035XX S MICHIGAN AVE', '012XX N LARRABEE ST', '004XX E 79TH ST', '062XX S MICHIGAN AVE', '070XX S JEFFERY BLVD', '005XX W TAYLOR ST', '059XX W MADISON ST', '087XX S COTTAGE GROVE AVE', '070XX S ASHLAND AVE', '024XX W 63RD ST', '064XX S DR MARTIN LUTHER KING JR DR', '031XX W MADISON ST', '073XX S YALE AVE', '083XX S STEWART AVE', '049XX W VAN BUREN ST', '003XX W CERMAK RD', '0000X W 95TH ST', '023XX W MADISON ST', '015XX S DRAKE AVE', '073XX S PHILLIPS AVE', '076XX S COLFAX AVE', '023XX W JACKSON BLVD', '024XX N MILWAUKEE AVE', '014XX N SEDGWICK ST', '117XX S MARSHFIELD AVE', '056XX S RACINE AVE', '005XX W HARRISON ST', '014XX N MILWAUKEE AVE', '012XX W ROOSEVELT RD', '004XX W DIVISION ST', '082XX S DREXEL AVE', '055XX W GRAND AVE', '048XX W NORTH AVE', '071XX S JEFFERY BLVD', '070XX S CHAPPEL AVE', '005XX N MICHIGAN AVE', '001XX N CENTRAL AVE', '002XX W 63RD ST', '0000X W 69TH ST', '110XX S WENTWORTH AVE', '075XX S COLES AVE', '037XX W ROOSEVELT RD', '026XX N ELSTON AVE', '016XX E 95TH ST', '005XX S STATE ST', '003XX N CENTRAL AVE', '013XX N MILWAUKEE AVE', '076XX S KINGSTON AVE', '034XX W ROOSEVELT RD', '025XX W CERMAK RD', '0000X W 79TH ST', '047XX S COTTAGE GROVE AVE', '103XX S MICHIGAN AVE', '0000X N STATE ST', '002XX W GARFIELD BLVD', '061XX S DR MARTIN LUTHER KING JR DR', '013XX N PAULINA ST', '013XX N HUDSON AVE', '037XX W CHICAGO AVE', '042XX S MICHIGAN AVE', '063XX S KEDZIE AVE', '111XX S STATE ST', '011XX S CLARK ST', '079XX S WABASH AVE', '094XX S ASHLAND AVE', '065XX S DR MARTIN LUTHER KING JR DR', '076XX S STEWART AVE', '001XX W CERMAK RD', '0000X S STATE ST', '062XX S WESTERN AVE', '051XX W NORTH AVE', '039XX W GLADYS AVE', '079XX S HALSTED ST', '123XX S WALLACE ST', '077XX S SOUTH SHORE DR', '082XX S MARYLAND AVE', '098XX S HALSTED ST', '006XX N MICHIGAN AVE', '006XX S CENTRAL AVE', '006XX W 63RD ST', '109XX S DOTY AVE W', '005XX N CENTRAL AVE', '039XX W JACKSON BLVD', '099XX S HALSTED ST', '0000X W 87TH ST', '098XX S STATE ST', '063XX S DR MARTIN LUTHER KING JR DR', '0000X E GRAND AVE', '130XX S ELLIS AVE', '070XX S COTTAGE GROVE AVE', '005XX E 79TH ST', '111XX S MICHIGAN AVE', '082XX S INGLESIDE AVE', '021XX E 71ST ST', '078XX S HALSTED ST']

### **Encoding Blocks**

In [ ]:
column_name= "block"
encoder_function(column_name, top_values)

In [ ]:
df.head(2)

                block  ... block_078XX S HALSTED ST
0   061XX W GRAND AVE  ...                        0
1  043XX N CICERO AVE  ...                        0

[2 rows x 242 columns]

## **Top beats from top wards**

In [ ]:
# Getting list of blocks that occur in top wards
# to pass
column_name= "ward" # The name of the outer level column
outer_top= top_wards # Top values of outer column
no_of_top_topick =2 #these are how many number of values to pick for the inner top values
Column_to_count= "beat" # Name of column from which you want to pick top values of

top_values= list(set(list_inner_top_values(column_name, outer_top, no_of_top_topick, Column_to_count)))
print(top_values)

[131, 522, 524, 1424, 533, 1431, 414, 1533, 421, 423, 1834, 312, 313, 712, 713, 331, 332, 1234, 213, 1112, 1113, 222, 1121, 612, 613, 2533, 1511, 621, 622, 111, 623, 624, 1522, 1011, 1524, 631, 123, 124, 1021, 511]

#### **Encoding Top Beats**

In [ ]:
column_name= "beat"
top_values= list(map(str,top_values))
encoder_function(column_name, top_values)

In [ ]:
df.head(2)

                block primary_description  ... beat_1021 beat_511
0   061XX W GRAND AVE             BATTERY  ...         0        0
1  043XX N CICERO AVE             ASSAULT  ...         0        0

[2 rows x 282 columns]

## **Top Locations**

In [ ]:
top_prim_des= [x for x in df["location_description"].value_counts(ascending= False).head(50).index]
top_values = top_prim_des.copy()
top_values

['STREET',
 'RESIDENCE',
 'APARTMENT',
 'SIDEWALK',
 'OTHER',
 'SMALL RETAIL STORE',
 'RESTAURANT',
 'PARKING LOT/GARAGE(NON.RESID.)',
 'ALLEY',
 'DEPARTMENT STORE',
 'VEHICLE NON-COMMERCIAL',
 'GAS STATION',
 'RESIDENCE PORCH/HALLWAY',
 'RESIDENTIAL YARD (FRONT/BACK)',
 'GROCERY FOOD STORE',
 'RESIDENCE-GARAGE',
 'CONVENIENCE STORE',
 'OTHER (SPECIFY)',
 'CTA TRAIN',
 'SCHOOL, PUBLIC, BUILDING',
 'BAR OR TAVERN',
 'COMMERCIAL / BUSINESS OFFICE',
 'PARK PROPERTY',
 'PARKING LOT / GARAGE (NON RESIDENTIAL)',
 'DRUG STORE',
 'RESIDENCE - PORCH / HALLWAY',
 'RESIDENCE - YARD (FRONT / BACK)',
 'CTA BUS',
 'CTA STATION',
 'BANK',
 'HOSPITAL BUILDING/GROUNDS',
 'HOTEL/MOTEL',
 'CTA PLATFORM',
 'CHA APARTMENT',
 'RESIDENCE - GARAGE',
 'NURSING HOME/RETIREMENT HOME',
 'DRIVEWAY - RESIDENTIAL',
 'SCHOOL, PUBLIC, GROUNDS',
 'CTA BUS STOP',
 'POLICE FACILITY/VEH PARKING LOT',
 'VACANT LOT/LAND',
 'CHA PARKING LOT/GROUNDS',
 'TAVERN/LIQUOR STORE',
 'CURRENCY EXCHANGE',
 'SCHOOL, PRIVATE, BUILDING',
 'CHURCH/SYNAGOGUE/PLACE OF WORSHIP',
 'WAREHOUSE',
 'GOVERNMENT BUILDING/PROPERTY',
 'ATHLETIC CLUB',
 'CONSTRUCTION SITE']

### **Encoding Top Locations**

In [ ]:
column_name= "location_description"
encoder_function(column_name, top_values)

In [ ]:
df.head(2)

                block  ... location_description_CONSTRUCTION SITE
0   061XX W GRAND AVE  ...                                      0
1  043XX N CICERO AVE  ...                                      0

[2 rows x 332 columns]

## **Top FBI Code**

In [ ]:
top_prim_des= [x for x in df["fbi_cd"].value_counts(ascending= False).head(10).index]
top_values = top_prim_des.copy()
top_values

['06', '08B', '14', '26', '08A', '11', '18', '05', '07', '03']

### **Encoding top FBI codes**

In [ ]:
column_name= "fbi_cd"
encoder_function(column_name, top_values)

In [ ]:
df.head(2)

                block primary_description  ... fbi_cd_07 fbi_cd_03
0   061XX W GRAND AVE             BATTERY  ...         0         0
1  043XX N CICERO AVE             ASSAULT  ...         0         0

[2 rows x 342 columns]

# **Label Encoding of other  columns**

## **Encoding domestic Column**

In [ ]:
column_name= "domestic"

labels = list(df[column_name].unique())
encoder_function(column_name, labels)
df.head(2)

                block primary_description  ... domestic_N domestic_Y
0   061XX W GRAND AVE             BATTERY  ...          1          0
1  043XX N CICERO AVE             ASSAULT  ...          1          0

[2 rows x 344 columns]

## **Encoding month Column**

In [ ]:
column_name= "month"

labels = list(df[column_name].unique())
encoder_function(column_name, labels)
df.head(2)

                block primary_description  ... month_Apr month_May
0   061XX W GRAND AVE             BATTERY  ...         0         0
1  043XX N CICERO AVE             ASSAULT  ...         0         0

[2 rows x 356 columns]

## **Encoding weekday Column**

In [ ]:
column_name= "week_day"

labels = list(df[column_name].unique())
encoder_function(column_name, labels)
df.head(2)

                block primary_description  ... week_day_Tuesday week_day_Wednesday
0   061XX W GRAND AVE             BATTERY  ...                0                  0
1  043XX N CICERO AVE             ASSAULT  ...                0                  0

[2 rows x 363 columns]

## **Encoding hour Column**

In [ ]:
column_name= "hour"

labels = list(df[column_name].unique())

labels= list(map(str,labels))
encoder_function(column_name, labels)
df.head(2)

                block primary_description  ... hour_3 hour_4
0   061XX W GRAND AVE             BATTERY  ...      0      0
1  043XX N CICERO AVE             ASSAULT  ...      0      0

[2 rows x 387 columns]

# **Deleting Label Columns**

In [ ]:
data.columns

Index(['date_of_occurrence', 'block', 'iucr', 'primary_description',
       'secondary_description', 'location_description', 'arrest', 'domestic',
       'beat', 'ward', 'fbi_cd', 'latitude', 'longitude', 'month', 'week_day',
       'hour'],
      dtype='object')

In [ ]:
del df["block"]
del df["primary_description"]
del df["location_description"]
del df["domestic"]
del df["beat"]
del df["fbi_cd"]
del df["month"]
del df["week_day"]
del df["hour"]
del df["ward"]

In [ ]:
df.head(2)

     secondary_description  primary_description_THEFT  ...  hour_3  hour_4
0  DOMESTIC BATTERY SIMPLE                          0  ...       0       0
1                   SIMPLE                          0  ...       0       0

[2 rows x 377 columns]

# **Saving Secondary Description data**

In [ ]:
df.to_csv("sec_des_data.csv")