<a href="https://colab.research.google.com/github/Habib0308/University_Final_Year_Project/blob/master/Project%20Codes/ExploratoryAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
url="https://data.cityofchicago.org/api/views/x2n5-8w5q/rows.csv?accessType=DOWNLOAD"
df= pd.read_csv(url, encoding = "utf-8")

In [0]:
df.columns

In [0]:
df["DATE  OF OCCURRENCE"] = pd.to_datetime(df["DATE  OF OCCURRENCE"], format="%m/%d/%Y %I:%M:%S %p")
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
#https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [0]:
df.head(3)

In [0]:
#https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DatetimeIndex.html
df['year'] = pd.DatetimeIndex(df["DATE  OF OCCURRENCE"]).year
df['month'] = pd.DatetimeIndex(df["DATE  OF OCCURRENCE"]).month
df['hour'] = pd.DatetimeIndex(df["DATE  OF OCCURRENCE"]).hour
df['Weekday']=pd.DatetimeIndex(df["DATE  OF OCCURRENCE"]).dayofweek
#df['day_of_week'] = df['Order Date'].dt.weekday_name
#https://stackoverflow.com/questions/30222533/create-a-day-of-week-column-in-a-pandas-dataframe-using-python

In [0]:
df.set_index("DATE  OF OCCURRENCE", inplace=True)
df.sort_index(inplace=True)

In [0]:
#df.sort_index(inplace=True)

In [0]:
df["ARREST"].count

In [0]:
df = df.dropna()

In [0]:
df["ARREST"].count

In [8]:
df.head(3)

                        CASE#               BLOCK  IUCR  ... month hour Weekday
DATE  OF OCCURRENCE                                      ...
2018-11-23 05:10:00  JB525840  020XX N HALSTED ST  1310  ...    11    5       4
2018-11-23 05:15:00  JB525845     003XX E 63RD ST  1310  ...    11    5       4
2018-11-23 05:15:00  JB526104  035XX W BELDEN AVE  0610  ...    11    5       4

[3 rows x 20 columns]

In [0]:
a= [pd.value_counts(df[" LOCATION DESCRIPTION"])]
a.sort()
print(a)