<a href="https://colab.research.google.com/github/Habib0308/University_Final_Year_Project/blob/master/Project%20Codes/ExploratoryAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
url="https://data.cityofchicago.org/api/views/x2n5-8w5q/rows.csv?accessType=DOWNLOAD"
df= pd.read_csv(url, encoding = "utf-8")

First i'll be **exploring the dataset using Pandas** to find some insights about the data
First i have to set up index of data but the date column is not much of a use with the way data is stored in it.

In [0]:
"""
ds.rename(columns={'DATE OF OCCURRENCE':'Crime_Date','CASE#':'Case_No','PRIMARY DESCRIPTION':'Crime_Type','SECONDARY DESCRIPTION':'Crime_Description',
                   'LOCATION DESCRIPTION':'Loc_Description','X COORDINATE':'X_Coordinate','Y COORDINATE':'Y_COORDINATE'}, inplace=True)
#https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior 
"""

In [3]:
df.columns

Index(['CASE#', 'DATE  OF OCCURRENCE', 'BLOCK', ' IUCR',
       ' PRIMARY DESCRIPTION', ' SECONDARY DESCRIPTION',
       ' LOCATION DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT', 'WARD', 'FBI CD',
       'X COORDINATE', 'Y COORDINATE', 'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [0]:
df["DATE  OF OCCURRENCE"] = pd.to_datetime(df["DATE  OF OCCURRENCE"], format="%m/%d/%Y %I:%M:%S %p")

In [0]:
df.head(3)

In [0]:
#https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DatetimeIndex.html
df['year'] = pd.DatetimeIndex(df["DATE  OF OCCURRENCE"]).year
df['month'] = pd.DatetimeIndex(df["DATE  OF OCCURRENCE"]).month
df['hour'] = pd.DatetimeIndex(df["DATE  OF OCCURRENCE"]).hour

In [0]:
df.set_index("DATE  OF OCCURRENCE", inplace=True)

In [0]:
#df.sort_index(inplace=True)

In [6]:
df["ARREST"].count

<bound method Series.count of DATE  OF OCCURRENCE
2019-06-24 18:20:00    N
2019-11-03 11:40:00    N
2019-05-19 11:00:00    N
2019-10-04 06:10:00    N
2019-05-20 15:00:00    N
                      ..
2019-07-19 21:00:00    N
2019-06-23 16:40:00    N
2019-08-23 23:00:00    N
2019-08-05 12:30:00    N
2019-06-18 16:00:00    N
Name: ARREST, Length: 258177, dtype: object>

In [0]:
df = df.dropna()

In [8]:
df["ARREST"].count

<bound method Series.count of DATE  OF OCCURRENCE
2019-06-24 18:24:00    N
2019-06-24 11:00:00    N
2019-11-19 19:20:00    N
2019-11-19 00:10:00    N
2019-11-19 08:00:00    N
                      ..
2019-07-19 21:00:00    N
2019-06-23 16:40:00    N
2019-08-23 23:00:00    N
2019-08-05 12:30:00    N
2019-06-18 16:00:00    N
Name: ARREST, Length: 255213, dtype: object>

In [9]:
df.head(3)

                        CASE#                BLOCK  IUCR  ...  year month hour
DATE  OF OCCURRENCE                                       ...
2019-06-24 18:24:00  JC320310   077XX S PAULINA ST  0460  ...  2019     6   18
2019-06-24 11:00:00  JC319636    061XX N MOZART ST  0810  ...  2019     6   11
2019-11-19 19:20:00  JC516886  063XX S WESTERN AVE  0810  ...  2019    11   19

[3 rows x 19 columns]

In [24]:
a= [pd.value_counts(df[" LOCATION DESCRIPTION"])]
a.sort()
print(a)

[STREET               56758
RESIDENCE            41938
APARTMENT            34120
SIDEWALK             20146
OTHER                10369
                     ...
RAILROAD PROPERTY        1
CHA GROUNDS              1
HOTEL                    1
TRAILER                  1
CTA "L" PLATFORM         1
Name:  LOCATION DESCRIPTION, Length: 124, dtype: int64]